set timeout=0
set default=0

menuentry "System/1 x86_64" {
  multiboot2 /boot/kernel.elf
  module2 /boot/rootfs.iso rootfs
  module2 /boot/modules/com1.mod smod:com1.mod
  module2 /boot/modules/cmos.mod smod:cmos.mod
  module2 /boot/modules/picpit.mod smod:picpit.mod
  module2 /boot/modules/vga.mod smod:vga.mod
  module2 /boot/modules/ps2.mod smod:ps2.mod
  module2 /boot/modules/fdc.mod smod:fdc.mod
  boot
}
